* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Exo', sans-serif;
  color: #f75311;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 3em;
  border-bottom: 1px solid grey; }
  header nav > ul {
    text-align: center; }
  header li {
    display: inline-block; }
    header li a {
      text-decoration: none;
      color: grey;
      padding: 0 2em;
      line-height: 3em; }

section {
  height: 30%;
  width: 80%;
  margin: auto; }
  section:before, section:after {
    content: "";
    display: table; }
  section:after {
    clear: both; }

section.main {
  height: 50vh;
  background-image: url("../images/bkg1.jpg");
  background-size: cover;
  text-align: center; }
  section.main h1 {
    font-size: 3em;
    font-weight: bold;
    border-bottom: 1px solid #f75311;
    width: 70%;
    margin: 20% auto 0; }
  section.main h2 {
    color: grey; }

section.services {
  background: white; }
  section.services h1 {
    color: #f75311;
    font-weight: bold;
    border-bottom: 1px solid #f75311;
    text-align: center;
    width: 100%;
    padding-top: 0.5em; }
  section.services #regulartext {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 0.5em 0; }
  section.services #columntext {
    column-count: 2;
    padding: 0.5em 0;
    text-align: justify;
    width: 80%;
    margin: auto; }
  section.services .maincontainer {
    width: 80%;
    margin: auto; }
  section.services .container {
    border: 1px solid cyan;
    width: 31%;
    float: left;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em; }
    section.services .container .image {
      margin: auto;
      width: 100%;
      text-align: center; }
      section.services .container .image h3 {
        color: #f75311;
        text-transform: uppercase; }
      section.services .container .image img {
        border-radius: 50%;
        width: 50%; }
    section.services .container p {
      text-align: center;
      padding: 1em; }

section.contact {
  margin-bottom: 1em; }
  section.contact .sveobuhvatni {
    width: 80%;
    margin: auto;
    height: 100%; }
  section.contact h1 {
    color: #f75311;
    font-weight: bold;
    border-bottom: 1px solid #f75311;
    text-align: center;
    width: 80%;
    padding-top: 0.5em;
    margin: auto; }
  section.contact .pics {
    float: right;
    width: 50%; }
  section.contact form {
    float: left;
    width: 50%;
    margin-top: 20%;
    display: inline-block; }
    section.contact form #podaci {
      width: 25%;
      float: left;
      margin: 0.5em auto 0; }
    section.contact form #inputpodaci {
      width: 70%;
      border: 1px solid #f75311;
      margin: 0.5em; }
    section.contact form #button {
      float: right;
      border: none;
      background-color: #f75311;
      color: white;
      padding: 5px 50px;
      margin-right: 0.8em; }

footer {
  width: 100%;
  background-color: steelblue;
  height: 2em;
  margin-top: 4em; }
  footer p {
    text-align: center;
    color: white;
    line-height: 2em; }

@media screen and (max-width: 768px) {
  section, header, footer {
    width: 100%; }

  header > nav > ul > li > a {
    padding: 0 0.5em; }

  section.main h1 {
    margin: 10% auto 0; }

  #columntext {
    column-count: none;
    width: 100%;
    margin: 15px auto; }

  section.services .maincontainer {
    width: 100%; }
    section.services .maincontainer .container {
      width: 80%;
      margin: 15px auto 0;
      float: none; }

  section.contact {
    width: 100%; }
    section.contact .sveobuhvatni {
      width: 80%; }
    section.contact .pics img {
      display: none; }
    section.contact form {
      width: 100%;
      margin: 10% auto 0; } }

/*# sourceMappingURL=CallCentar.css.map */
