@import 'vars';
@import 'mixins';

@include main;

body {
    font-family: 'Exo', sans-serif;
    color: $main_text_color;
    width: 100%;
    height: 100%;
    
}
header {
    width: 100%;
    height: 3em;
    border-bottom: 1px solid grey;

    nav>ul {
        text-align: center;
    }
        li {
        display: inline-block;
        
        a{
            text-decoration: none;
            color: grey;
            padding: 0 2em;
            line-height: 3em;
        }
    }
}
section {
    @include clearfix;
    height: 30%;
    width: 80%;
    margin: auto;
}
section.main {
    height: 50vh;
    background-image: url('../images/bkg1.jpg');
    background-size: cover; 
    text-align: center;
    h1 {
        font-size: 3em ;
        font-weight: bold;
        border-bottom: 1px solid $main_text_color;
        width: 70%;
        margin: 20% auto 0;
    }
    h2 {  
       color : grey;
    }   
}

section.services{
    background: white;
    
    h1 {
        color: $main_text_color;
        font-weight: bold;
        border-bottom: 1px solid $main_text_color;
        text-align: center;
        width: 100%;
        padding-top: 0.5em;
    }
    #regulartext {
        margin:auto;
        width: 80%;
        text-align: center;
        padding: 0.5em 0;
    }
    #columntext {
        column-count: 2;
        padding: 0.5em 0;
        text-align: justify;
        width: 80%;
        margin:auto;
    }
    .maincontainer {
        width: 80%;
        margin : auto;
    }
    .container {
        border: 1px solid cyan;
        width: 31%;
        float : left;
        padding: 0.5em 0.5em;
        margin: 0.5em 0.5em;
        
        .image {
            margin:auto;
            width:100%;  
            text-align: center; 
            h3 {
            color: $main_text_color;
            text-transform: uppercase;
            
            }
            img {
            border-radius: 50%;
            width: 50%;
            }
        }
        p{
            text-align: center;
            padding: 1em;
        }
    }
}
section.contact {
    margin-bottom: 1em; 
    
    .sveobuhvatni {
        width: 80%;
        margin:auto;
        height: 100%;
        
    }
    h1 {
        color: $main_text_color;
        font-weight: bold;
        border-bottom: 1px solid $main_text_color;
        text-align: center;
        width: 80%;
        padding-top: 0.5em;
        margin: auto;
    }
    .pics {
        float: right;
        width:50%;
    }
    form {
        float: left;
        width: 50%;
        margin-top:20%;
        display: inline-block;
        
        #podaci {
            width: 25%;
            float :left;
            margin : 0.5em auto 0;
        
        }
        #inputpodaci {
            width: 70%;
            border : 1px solid $main_text_color;
            margin : 0.5em ;
        }  
        #button {
            float: right;
            border : none;
            background-color: $main_text_color;
            color : white;
            padding: 5px 50px;
            margin-right: 0.8em;
        }
            
    }
}
footer{
    width: 100%;
    background-color: steelblue ;
    height: 2em;
    margin-top: 4em;
    p{
        text-align:center;
        color:white;
        line-height: 2em;
    }
}

@media screen and (max-width: 768px) {

    section , header , footer {
        width: 100%;
        
    }
    header>nav>ul>li>a{
        padding: 0 0.5em ;
    }
    section.main h1 {
        margin: 10% auto 0;
    }
    #columntext {
        column-count: none;
		width: 100%;
		margin: 15px auto;
    }
    section.services {

       .maincontainer {
        width:100%;
       
            .container {
                width: 80%;
                margin : 15px auto 0;
                float: none;
       }
   }
}
section.contact {
    width: 100%;

    .sveobuhvatni {
        width: 80%;
    }
    .pics {
        img {
        display: none;
    }
}
    form {
        width: 100%;
        margin : 10% auto 0;
       
    }
  }
}

