@import 'vars';
@import 'mixins';

@include main;

body {
    font-family: 'Exo', sans-serif;
    color: $main_text_color;
    
}
header {
    width: 100%;
    height: 2em;
    border-bottom: 1px solid grey;

    nav>ul {
        text-align: center;
        margin-top: 1em;
        
    }
        li {
        display: inline-block;
        height: 2em;
        a{
            text-decoration: none;
            color: grey;
            padding: 0 2em;
            
            
        }
    }
}
section {
    @include clearfix;
}
section.main {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bkg1.jpg');
    background-size: cover; 
    text-align: center;
    h1 {
        font-size: 2em ;
        font-weight: bold;
        border-bottom: 1px solid #f75311;
        width: 70%;
        margin: 25% auto 0;
     
    h2 {
       font-weight: bolder;
    }
    }
}
